---
spring:
  application.name: ddd-java
  messages.basename: messages-validation, messages
  jackson.serialization:
    indent-output: true
  datasource:
    driver-class-name: ${JDBC_DRIVER:org.h2.Driver}
    url: ${JDBC_URL:jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE}
    username: ${JDBC_USERNAME:}
    password: ${JDBC_PASSWORD:}
  jpa:
    open-in-view: false
    show-sql: ${SHOW_SQL:false}
    hibernate.ddl-auto: ${DDL_AUTO:none}

server:
  port: ${SERVER_PORT:8080}

management:
  endpoints.web:
    base-path: /management
    exposure.include: ${MANAGEMENT_EXPOSURE:health,info}

sample:
  mail.enabled: ${MAIL_ENABLED:true}
